.container{
	width: 100%;
	height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
	margin: 0 auto;
	padding: 0;
}
.liveimage{
	display: flex;
	justify-content: center;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.mynd{
	background-color: #383737;
	height: 65%;
}
.pcControls{
	background-color: #BFBBBA;
	width: 50%;
	height: 100%;
}
.arrow{
	width: 5em;
	fill: blue;
}
.right{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.up{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.down{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
